.btn-primary
{
    background-color:#fff;
}

.btn-medium
{
    /* padding: 1rem; */
    padding: .5rem 1.5rem;
    border-radius: 1rem;
    font-size: 1rem;
}
.btn-large
{
    padding: 1rem 3rem;
    border-radius: 1rem;
}
.btn-secondary
{
background-color: turquoise;
}
.btn{
    transition:all .2s linear;
}
.btn:hover{
    /* background-color: black; */
    /* color: white; */
    transform: scale(1.1);
    transition:all .2s linear;
}