.project
{
    border: 2px solid ;
    margin: 2rem;
    height: 25rem;
    border-radius: 2rem;
    overflow-y: hidden;
    border: 2px solid;
}
.project-img
{
    height: 50%;
    width: 100%;   
    object-fit: cover;
    margin-bottom: 2rem;
}
.btn
{
    color: black;
}
.project-text
{
    margin-bottom: 2rem;
}

@media only screen and (max-width:750px){
 .project
 {
     height: fit-content;
 }
}